/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: home
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   home
----------------------------------------- */
#createRow div, #orderButton{
    text-align: center; 
}
#createRow a, #orderButton a{
    padding-left:60px;
}
#createRow img, #orderButton img{
    position:absolute;
    top:12px;
    left:20px;
    width:24px;
}

#orderRow ul{
    margin-top: 30px;
}
#sort{
    text-align:right;
}
#sort span{
    text-decoration:underline;
}
#orderRow ul li{
    text-align:center;
    margin: 0 0 20px;
}
#orderRow ul li > div{
    border:2px solid;
    box-shadow: 10px 10px 5px #888;
    width:90%;
    padding:10px;
    background:#e5eeee;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


